.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("../loader.gif") ;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: aqua;
}
